.navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  position: absolute;
  z-index: 999;
}

.navigation__item {
  display: flex;
}

.navigation__link {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navigation__link + .navigation__link {
  margin-left: 40px;
}

.navigation__lng-btn {
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

/*ANIMATIONS*/
.navigation_delay_1 {
  animation-delay: 0.2s;
}
.navigation_delay_2 {
  animation-delay: 0.4s;
}
.navigation_delay_3 {
  animation-delay: 0.6s;
}
.navigation_delay_4 {
  animation-delay: 0.8s;
}
.navigation_delay_5 {
  animation-delay: 1s;
}

/* MEDIA */

@media only screen and (max-width: 992px) {
  .navigation__link {
    margin-right: 30px;
    font-size: 14px;
  }

  .navigation__lng-btn {
    font-size: 11px;
  }
}

@media only screen and (max-width: 768px) {
  .navigation {
    justify-content: flex-end;
    padding: 14px 15px;
    border-bottom: 2px solid transparent;
  }

  .navigation__item {
    display: none;
  }

  .navigation__burger-item {
    display: block;
  }
}
