.text-animated,
.text-animated__text {
  display: inline-block;
}

/*TYPIST STYLES*/
.Typist .Cursor {
  display: inline-block;
  font-size: 38px;
  line-height: 32px;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
