.page-home {
  position: relative;
  flex: 1;
}

.page-home:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../../assets/images/homePageBackground.png') no-repeat center
    center;
  background-size: cover;
  animation-name: customBackgroundAnimation;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

.page-home__hello-box {
  width: 500px;
}

.page-home__animated-text {
  margin-left: 15px;
}

.page-home__btn-container {
  margin-top: 20px;
}

.page-home__about-btn {
  margin-right: 30px;
}

.page-home__about-btn,
.page-home__portfolio-btn {
  padding: 20px 36px 20px 48px;
  font-size: 16px;
}

.page-home__portfolio-btn {
  padding: 22px 36px 22px 54px;
}

.page-home__about-icon,
.page-home__portfolio-icon {
  left: 20px;
  top: 50%;
  margin-top: -9px;
}

.page-home__portfolio-icon {
  margin-top: -11px;
}

/* ANIMATIONS*/
@keyframes customBackgroundAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.04) translate(-15px, 8px);
  }

  100% {
    transform: scale(1) translate(0px 0px);
  }
}
