.side-menu {
  height: 100%;
  position: fixed;
  right: -250px;
  width: 250px;
  background-color: #ffffff;
  z-index: 1001;
  transition: transform ease-in-out 0.3s, left linear 0.3s, right linear 0.3s;
}

.side-menu_animation_slide-left {
  right: auto;
  left: -250px;
}

.side-menu_animation_slide-left.isActive {
  left: 0px;
}

.side-menu.isActive {
  box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.15);
}

.side-menu-overlay {
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: transparent;
}

.side-menu-overlay.isActive {
  background-color: rgba(0, 0, 0, 0.6);
}

.side-menu-overlay:hover {
  cursor: pointer;
}
