.page-about {
  display: block;
  text-align: center;
  height: 100%;
  position: relative;
}

.page-about__tab {
  padding-top: 20px;
  display: block;
}

.page-about__paragraph-header {
  padding: 0;
  position: relative;
  top: 10px;
  top: 21px;
}

.page-about__backline-intro {
  margin-top: 15px;
}

.page-about__backline-intro-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 992px) {
  .page-about {
    overflow-y: auto;
  }

  .page-about__tab {
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .page-content__container.page-about__tab {
    overflow-y: hidden;
  }

  .page-about__backline-intro {
    margin-top: 10px;
  }
}
