.page-about {
  display: block;
  text-align: center;
  height: 100%;
  position: relative;
}

.page-about__tab {
  padding-top: 20px;
  display: block;
}

.page-about__paragraph-header {
  padding: 0;
  position: relative;
  top: 10px;
  top: 21px;
}

.page-about__backline-intro {
  margin-top: 15px;
}

.page-about__backline-intro-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-about__personal-block {
  padding: 90px 0 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  top: -17px;
}

.page-about__personal-photo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}

.photo-container {
  width: 440px;
  height: 440px;
  position: relative;
  z-index: 1;
}

.photo-container__border {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: -20px;
  left: -20px;
  border: 4px solid;
  z-index: -1;
}

.photo-container__image {
  position: relative;
  animation-name: imagePosition;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
}

.page-about__personal-info {
  flex: 1;
  text-align: left;
  padding-left: 40px;
  position: relative;
  z-index: 1;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 1) 10% 20%,
    transparent 70%
  );
}

.page-about__paragraph-info {
  padding: 14px 0;
}

.page-about__first-column {
  margin-right: 10px;
}

.page-about__skype-link {
  text-decoration: underline;
}

.page-about__google-map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.page-about__next-button {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  z-index: 1;
}

.page-about__tab-skills {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: 1;
  transition: bottom ease 0.6s;
  box-sizing: border-box;
}

.page-about__tab-skills.page-about_isActive {
  bottom: 0;
}

/*ARROWS*/

.animated-arrows {
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.animated-arrows__arrow {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid;
  border-right: 5px solid;
  transform: rotate(45deg);
  margin: -20px;
  animation: arrowAnimation 2s infinite;
}
.animated-arrows__arrow:nth-child(2) {
  animation-delay: -0.2s;
}
.animated-arrows__arrow:nth-child(3) {
  animation-delay: -0.4s;
}

/*ANIMATIONS*/
@keyframes imagePosition {
  0% {
    transform: translate(-30%, -30%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes arrowAnimation {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
  .photo-container {
    width: 380px;
    height: 380px;
  }

  .page-about__container {
    padding-top: 15px;
  }

  .page-about__personal-block {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .page-about__personal-photo {
    flex: 6;
  }

  .page-about__personal-info {
    flex: 5;
  }

  .page-about__paragraph-info {
    padding: 12px 0;
  }
}

@media only screen and (max-width: 992px) {
  .page-about {
    overflow-y: auto;
  }

  .page-about__container,
  .page-about__tab {
    height: auto;
  }

  .page-about__personal-photo {
    padding-right: 20px;
  }

  .photo-container {
    width: 340px;
    height: 340px;
  }

  .page-about__personal-info {
    padding-left: 20px;
  }

  .page-about__paragraph-info {
    padding: 10px 0;
  }

  .page-about__next-button {
    z-index: 2;
  }

  .page-about__next-button .page-about__backline-intro {
    display: none;
  }

  .animated-arrows {
    bottom: 0;
  }

  .page-about__tab-skills {
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
    padding-top: 50px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .page-about__personal-block {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }

  .page-about__personal-photo {
    padding: 0;
    flex: 1;
  }

  .photo-container {
    width: 300px;
    height: 300px;
  }

  .page-about__personal-info {
    padding: 10px 25px;
    margin-top: 20px;
    background: linear-gradient(
      to right,
      transparent,
      #fff 12% 85%,
      transparent
    );
  }

  .page-about__personal-info .text-common {
    font-size: 2.2rem;
  }

  .page-about__personal-info .page-about__first-column {
    width: 120px;
  }

  .page-about__tab-skills {
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 480px) {
  .page-content__container.page-about__tab {
    overflow-y: hidden;
  }

  .photo-container {
    width: 240px;
    height: 240px;
  }

  .page-about__backline-intro {
    margin-top: 10px;
  }

  .page-about__personal-block {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .page-about__personal-info {
    text-align: center;
    margin-top: 10px;
  }

  .page-about__personal-info .page-about__first-column {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.8em;
  }

  .photo-container__border {
    top: -10px;
    left: -15px;
  }

  .page-about__google-map,
  .page-about__next-button {
    display: none;
  }

  .page-about__tab-skills {
    padding-top: 0;
  }
}
