.page-transition {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: -100px;
  right: -100px;
  border-radius: 50%;
  transition: transform linear 0.5s;
  z-index: -1;
}

.page-transition.isActive {
  transform: scale(25);
  z-index: 10;
}
