body,
html {
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
}

.page-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding-top: 70px;
}

.page-content__container {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/*TEXT STYLES*/
.paragraph {
  display: block;
  padding: 10px 0;
}

.paragraph_paddings_medium {
  padding-top: 15px;
  padding-bottom: 15px;
}

.paragraph_paddings_large {
  padding-top: 20px;
  padding-bottom: 20px;
}

.paragraph_align_left {
  text-align: left;
}

.paragraph_align_right {
  text-align: left;
}

.paragraph_align_center {
  text-align: left;
}

.paragraph_lh_large {
  line-height: 26px;
}

.header {
  display: inline-block;
}

.header_type_h1 {
  font-size: 5.6rem;
}

.header_type_h2 {
  font-size: 4.2rem;
}

.header_type_h3 {
  font-size: 3.2rem;
}

.header_type_h4 {
  font-size: 2.6rem;
}

.header_tt_uppercase {
  text-transform: uppercase;
}

.header_fw_medium {
  font-weight: 500;
}

.header_fw_bold {
  font-weight: bold;
}

.header + .header {
  margin-left: 10px;
}

/* text-common */

.text-common {
  font-size: 1.6rem;
  display: inline-block;
  vertical-align: middle;
}

.text-common_line {
  display: block;
}

.text-common_fz_xxs {
  font-size: 1rem;
}

.text-common_fz_xs {
  font-size: 1.2rem;
}

.text-common_fz_s {
  font-size: 1.4rem;
}

.text-common_fz_m {
  font-size: 2rem;
}

.text-common_fz_l {
  font-size: 2.2rem;
}

.text-common_fz_xl {
  font-size: 2.4rem;
}

.text-common_weight_bold {
  font-weight: bold;
}

.text-common_weight_medium {
  font-weight: 500;
}

.text-common_tt_uppercase {
  text-transform: uppercase;
}

.text-color_yellow {
  color: #fbc02d;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1439px) {
  .page-content__container {
    width: 1200px;
  }
}

@media only screen and (max-width: 1200px) {
  .page-content__container {
    width: 970px;
  }
}

@media only screen and (max-width: 992px) {
  .page-content__container {
    width: 750px;
  }
}

@media only screen and (max-width: 768px) {
  .page-content {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }

  .page-content__container {
    width: 100%;
    padding: 0 15px;
  }

  html {
    font-size: 9px;
  }
}

@media only screen and (max-width: 480px) {
  .page-content__container {
    display: block;
    overflow-y: auto;
  }

  .page-content {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 320px) {
}

/* FONTS */
@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'),
    url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto-Medium'),
    url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'BowlbyOneSC-Regular';
  src: url('./assets/fonts/BowlbyOneSC-Regular.eot');
  src: url('./assets/fonts/BowlbyOneSC-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/BowlbyOneSC-Regular.woff') format('woff'),
    url('./assets/fonts/BowlbyOneSC-Regular.ttf') format('truetype');
}
